* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #4776e6;
    background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
    background: linear-gradient(to right, #8e54e9, #4776e6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .navbar,
  .navbar1,
  .navbar2,
  .navbar3,
  .navbar4 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: grey;
    text-decoration: none;
  }
  
  .header,
  .header2,
  .header3,
  .header4,
  .header1 {
    width: 100%;
    height: 60px;
    text-decoration: none;
  }
  
  .menu,
  .menu2,
  .menu3,
  .menu4,
  .menu1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
    text-decoration: none;
  }
  
  .menu li,
  .menu2 li,
  .menu3 li,
  .menu4 li,
  .menu1 li {
    display: block;
    height: 100%;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 15px white;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    padding: 0 10px;
    margin-right: 30px;
    text-decoration: none;
  }
  
 

  /* Style 1 */
  /* Before Hover: Width of before element is set to 100% and height to 0 and Width of before element is*/
  /* set to 0% and height to 100%  */
  /* On Hover:  Top and bottom borders' of after element and left and right borders of before element*/
  /* is animated here by increasing the height of before element from 0 to 80% and width of after */
  /* element from 0 to 120% */
  
  .menu li:after,
  .menu li:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
  }
  
  .menu li:after {
    width: 0%;
    height: 80%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
  }
  
  .menu li:before {
    width: 120%;
    height: 0%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: all 0.5s ease;
  }
  
  .menu li:hover::before {
    height: 80%;
  }
  
  .menu li:hover::after {
    width: 120%;
  }
  
  /* Style 2: */
  /* On Hover: Top and left border of after element and right, bottom borders of before element is */
  /* incresed from 0 to 10px */
  
  .menu1 li:after,
  .menu1 li:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease;
  }
  
  .menu1 li:after {
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  
  .menu1 li:before {
    width: 0%;
    height: 0%;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  
  .menu1 li:hover::before,
  .menu1 li:hover::after {
    width: 10px;
    height: 10px;
    border-color: #fff;
  }
  
  /* Style 3 */
  /* Before hover: After element's top and left borders are set, same as before elements's */
  /* right and bottom borders, width and height of both elements are set to 0% */
  /* On Hover: the before and after elements's height and width increased from 0 to 100%  */
  .menu2 li:after,
  .menu2 li:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.5s ease;
  }
  
  .menu2 li:after {
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  
  .menu2 li:before {
    width: 0%;
    height: 0%;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  
  .menu2 li:hover::before,
  .menu2 li:hover::after {
    width: 100%;
    height: 100%;
    border-color: #fff;
  }
  
  /*Style 4  */
  /* Before Hover: All border except the bottom border is transparent */
  /* On Hover: All border except bottom border is changed to white */
  
  .menu3 li {
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    margin-right: 0px;
    padding-right: 30px;
    transition: border 0.3s ease;
  }
  
  .menu3 li:hover {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid transparent;
  }
  
  /* Style 5 */
  /* On Hover the after element is moved from top 100% to 0%  */
  .menu4 li:after {
    content: "";
    position: absolute;
    display: block;
    border: 2px solid #fff;
    width: 100%;
    height: 0%;
    transition: all 0.5s ease;
    top: 100%;
  }
  
  .menu4 li:hover::after {
    width: 100%;
    top: 0;
  }

  html {
    scroll-behavior: smooth;
    /* --purple: #5e3bee;
    --gray: #656b8e;
    --light-gray: #989dbb;
    --black: #0f1221; */
  }
  
  body {
    font-family: "DM Sans", sans-serif;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation--links-list {
    display: flex;
    list-style: none;
  }
  
  .navigation--link {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 8px;
    border-color: transparent;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigation--link__icon {
    padding-right: 18px;
    padding-left: 18px;
  }
  
  .navigation--link:hover {
    background-color: rgba(167, 114, 219, 0.25);
  }
  
  .navigation--link > a {
    text-decoration: none;
    color: black;
  }
  
  .navigation--avatar-img {
    height: 80px;
  }
  
  .hero {
    background-color: rgb(235, 235, 235);
    display: flex;
    padding-left: 80px;
    justify-content: space-between;
  }
  
  .hero--information {
    max-width: 500px;

  }
  
  .hero--title {
    font-size: 64px;
    font-weight: 700;
  }
  
  .hero--subtitle {
    font-size: 21px;
    line-height: 130%;
  }
  
  .hero--img-container {
    background-image: url("/assets/images/purple-sprinkles.png");
    background-size: cover;
    background-position: bottom;
  }
  
  .hero--img {
    width: 40vw;
    max-width: 400px;
  }
  
  #services {
    background-color: #f0fdf9;
    display: flex;
  }
  
  #services > div {
    padding: 48px;
  }
  
  .section--title {
    font-size: 48px;
    margin-top: 0;
  }
  
  .section--subtitle {
    text-transform: uppercase;
  }
  
  .section--description {
    line-height: 130%;
  }
  
  .services--container {
    display: flex;
    flex-direction: column;
  }
  
  .services--item {
    background-color: white;
    padding: 32px;
    margin-bottom: 16px;
  }
  
  .services--item:last-child {
    margin-bottom: 0;
  }
  
  .services--item > h3 {
    font-size: 24px;
  }
  
  .services--link {
    display: inline-block;
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    padding: 16px 32px;
    margin-top: 32px;
  }
  
  
.about2 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: Arial;
    text-align: left;
}

#center{
    padding-left: 100px;
}

.down{
  align-items: left;
  text-align: left;
  padding: 20px;
}

.down h2{
  padding-left: 120px;
}

.down h4{
  padding-left: 120px;
}
.down img{
  float: left;
}

#down2{
  display: inline;
  float: right;
  padding-right: 100px;
}


.footer{
  background-color: grey;
  height: 40px;
  align-items: center;
  padding-top: 20px;
}